<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="jquery/http_cdn.staticfile.org_jquery_3.2.1_jquery.js"></script>
    <script src="popper/http_cdn.staticfile.org_popper.js_1.12.5_umd_popper.js"></script>
    <script src="vue/http_cdn.staticfile.org_vue_2.2.2_vue.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/websocket.js"></script>
    <script src="js/main.js"></script>
    <script src="js/reconnecting-websocket.min.js"></script>
    <script src="js/reconnecting-websocket.js"></script>
    <title>客户端</title>
    <style>
    a:link {color:#000000;}      /* 未访问链接*/
    a:visited {color:#FF00FF;}  /* 已访问链接 */
    a:hover {color:#00FFFF;}  /* 鼠标移动到链接上 */
    a:active {color:#0000FF;}  /* 鼠标点击时 */


.content h2{
	font-weight:700;
	line-height: 1.5em;
	font-size: 1.5em;
	color: #555555;
	text-transform: uppercase;
	padding: 10px 0;
	border-bottom: 1px solid rgb(209, 209, 209);
}
</style>
</head>


<body>
<div id="app">
    <!-- 模态框 -->
    <div class="modal fade" id="myModal" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">请输入IP地址和端口</h4>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="ip">IP地址：</label>
                        <input type="text" class="form-control" id="ip" placeholder="输入ip地址" v-model="ip">
                    </div>
                    <div class="form-group">
                        <label for="port">端口：</label>
                        <input type="text" class="form-control" id="port" placeholder="输入端口" v-model="port">
                    </div>
                    <div class="form-group">
                        <label for="port">房间号：</label>
                        <input type="text" class="form-control" id="room_id" placeholder="输入房间号" v-model="room_id">
                    </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="init()">确认</button>
            </div>

            </div>
        </div>
    </div>



    <h2 style="text-align:center">欢迎使用空调</h2>

       <div v-if="on_off">
          <div class="content">
            <h2>查看当前参数</h2>
          </div>
        <div class="container">
           <h3><span class="badge badge-info">房间 {{ room_id }}</span></h3>
         <table class="table table-striped table-bordered">
            <tr>
                <td><b>模式</b></td>
                <template>
                <div v-if="mode=='0'">
                <td>制热</td>
                </div>
                <div v-else>
                <td>制冷</td>
                </div>
                </template>


            </tr>

             <tr>
                <td><b>当前室温</b></td>
                <td>{{ cur_temp }}</td>
            </tr>

            <tr>
                <td><b>目标室温</b></td>
                <td>{{ tar_temp }}</td>
            </tr>

            <tr>
                <td><b>风速</b></td>
                <td>{{ fan_speed }}</td>
            </tr>

            <tr>
                <td><b>费用</b></td>
                <td>{{ fee }}</td>
            </tr>
        </table>
        </div>

           <div class="content">
            <h2>设置空调参数</h2>
         </div>

        <div class="container">

          <h3><span class="badge badge-info">空调参数设定</span></h3>

            <form class="form-horizontal" action="." method="post">
              <div class="form-group">
                 <label for="mode">模式</label>
                    <select class="form-control" id="mode">
                               <option value="0">制冷</option>
                               <option valie="1">制热</option>
                    </select>
              </div>

              <div class="form-group">
                 <label for="default_TargetTemp ">目标温度:</label>
                    <input  type="text" class="form-control" id="{{ tar_temp }}" placeholder="请输入目标温度">
              </div>

              <div class="form-group">
                 <label for="fan_speed">风速</label>
                    <select class="form-control" id="{{ fan_speed }}">
                               <option value="0">低速</option>
                               <option value="1">中速</option>
                               <option value="2">高速</option>
                    </select>
              </div>

                <button class="btn btn-primary" v-on:click="cur_temp+=1">温度加</button>
                <button class="btn btn-primary" v-on:click="cur_temp-=1">温度减</button>
                <br>
                <div align="left" style="position:relative;top:10px">
                <button class="btn btn-warning" onclick="config_para(v.fan, v.mode, v.tar_temp)">确认配置</button>
                </div>
                <div align="right" style="position:relative;top:10px">
                    <button class="btn btn-danger" onclick="power_off()">关机</button></div>



       </div>
</div>

         <div v-else>
             <br>
             <br>
             <div align="center" style="position:relative;top:10px">
              <button class="btn btn-primary" onclick="power_on(v.cur_temp)">power_on</button>
             </div>
         </div>


         </div>
    </div>
   </div>
    </div>
</div>

<script>
    var v = new Vue({
        el: '#app',
        data: {
            on_off:false,
            ip:'',
            port:'',
            wurl:'',
            fee:0,
            mode:1,
            serving:false,
            state:0,
            tar_temp:25,
            fan_speed:1,
            cur_temp:25, //当前室温
            room_id:1, //房间号
            message: 'Runoob!'
        }
    });
</script>
</body>
</html>




