<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="jquery/http_cdn.staticfile.org_jquery_3.2.1_jquery.js"></script>
    <script src="popper/http_cdn.staticfile.org_popper.js_1.12.5_umd_popper.js"></script>
    <script src="vue/http_cdn.staticfile.org_vue_2.2.2_vue.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/websocket.js"></script>
    <script src="js/main.js"></script>
    <title>客户端</title>
</head>
<body>
<div id="app">
    <!-- 模态框 -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">请输入IP地址和端口</h4>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="ip">IP地址：</label>
                        <input type="email" class="form-control" id="ip" placeholder="输入ip地址" v-model="ip">
                    </div>
                    <div class="form-group">
                        <label for="port">端口：</label>
                        <input type="password" class="form-control" id="port" placeholder="输入端口" v-model="port">
                    </div>
                    <div class="form-group">
                        <label for="port">房间号：</label>
                        <input type="password" class="form-control" id="room_id" placeholder="输入房间号" v-model="room_id">
                    </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="init()">确认</button>
            </div>

            </div>
        </div>
    </div>
</div>
<script>
    var v = new Vue({
        el: '#app',
        data: {
            on_off:0,
            ip:'',
            port:'',
            wurl:'',
            fee:0,
            mod:0,
            serving:false,
            tar_temp:25,
            fan_speed:1,
            cur_temp:25, //当前室温
            room_id:1, //房间号
            message: 'Runoob!'
        }
    });
</script>
</body>
</html>